/* General styles */

body {
  font-family: Arial, sans-serif; /* Use the specified font */
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}

header h1{
    font-size: 2em; 
    line-height: 1.2;
    white-space: nowrap;
    text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;

}

h1 {
  font-size: 2em; /* Set the font size */
  line-height: 2.6; /* Set the line height */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Display an ellipsis (...) if the text is too long */
  overflow: hidden; /* Hide text that is too long */
  text-align: center;

}

/* Form styles */

form {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  max-width: 400px;
}

input, select, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Tabs styles */

.tabs {
  margin: 20px;
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

.tab-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


/* Footer styles */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #160bef;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000; /* Ensure footer is on top of other elements */
  }

/* Header styles */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 0px 0;
    z-index: 1000; /* Ensure header is on top of other elements */
  }